USER_ID=<your_PUID>
GROUP_ID=<your_PGID>
TIMEZONE="<timezone>"
DATA_ROOT="<data_root>"
INSTALL_LOCATION="<install_location>"
HOSTNAME=<my_domain>
#FIREWALL_VPN_INPUT_PORTS=<forwarded_port> #port_forwarding#
DATABASE_PASSWORD="<database_password>"
