USER_ID=<your_PUID>
GROUP_ID=<your_PGID>
TIMEZONE="<timezone>"
INSTALL_LOCATION="<install_location>"
HOSTNAME=<my_domain>
LETS_ENCRYPT_EMAIL=<letsencrypt_email>
CLOUDFLARE_EMAIL=<cloudflare_email>
CLOUDFLARE_DNS_API_TOKEN=<cloudflare_api>
CLOUDFLARE_ZONE_API_TOKEN=<cloudflare_api>
VPN_SERVICE_PROVIDER=<vpn_service>
VPN_TYPE=openvpn
OPENVPN_USER=<vpn_user>
OPENVPN_PASSWORD=<vpn_password>
SERVER_COUNTRIES=<vpn_country>
SERVER_CITIES=<vpn_city>
#FIREWALL_VPN_INPUT_PORTS=<forwarded_port> #port_forwarding#
DATA_ROOT="<data_root>"
DATABASE_PASSWORD="<database_password>"
WG_EASY_PASSWORD="<wgeasy_password>"
#WG_EASY_PORT="<forwarded_port_wgeasy>" #port_forwarding_wgeasy#
WG_EASY_PRIMARY_DNS=1.1.1.1
WG_HOSTNAME=<wg_hostname>
# Add this if you want speedtest to send you notifications to telegram chat
#BOT_TOKEN=
